@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 20px;
}

body {
	background-color: #e9edc9;	
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ccd5ae;
	margin: 1rem auto;
	width: 28vw;
	height: auto;
	padding: 1rem;
	gap: 0.5rem;
	border-radius: 20px;

}

.tela {
	background-color: #FFFFFC;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 6vh;
	width: 20vw;
	border-radius: 10px;
}
	
.l1 button {
	background-color:#FFADAD;
}

.l2 button {
	background-color:#FDFFB6;
}

.l3 button {
	background-color:#9BF6FF;
}

.l4 button {
	background-color:#BDB2FF;
}

.l5 button {
	background-color:#A0C4FF;
}

.clear button {
	background-color:#f08080;
}

button {
  width: 3vw;    
  height: 5vh;   
  font-size: 18px;
  margin: 0.3rem; 
  border-radius: 40px;
  border: 0px;
}

